In [23]:
import numpy as np
import pandas as pd
from bokeh.plotting import figure, output_file, show
from datetime import datetime
import urllib.request as request
import json 
from operator import truediv 
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool
from datetime import date

output_file('us_covid-19_dp.html')

In [24]:
data=pd.read_json('https://covidtracking.com/api/v1/us/daily.json')
df=pd.DataFrame(data)
df

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200703,TX,183532,1830374.0,NaN,7652.0,NaN,NaN,NaN,NaN,...,2013906,50,0,bfdfe75fafb940e75cc9d2a52082064276ecb85e,0,0,0,0,0,
1,20200702,TX,175977,1799826.0,NaN,7382.0,NaN,NaN,NaN,NaN,...,1975803,44,0,cb703e4ccdbce76f19ce735819e73ff2621f0f27,0,0,0,0,0,
2,20200701,TX,168062,1753886.0,NaN,6904.0,NaN,NaN,NaN,NaN,...,1921948,57,0,9d7c527e6a0728106752c8f999dbe8bfde34103d,0,0,0,0,0,
3,20200630,TX,159986,1709296.0,NaN,6533.0,NaN,NaN,NaN,NaN,...,1869282,21,0,7a9d308fcbcc277fec38b5d305d591334d737ec9,0,0,0,0,0,
4,20200629,TX,153011,1666178.0,NaN,5913.0,NaN,NaN,NaN,NaN,...,1819189,10,0,cde6fb9f1c131675aaa8005f3a0ddc2ffa2cf78c,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,20200308,TX,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,76fec4f880d0b5110abce26e7ec91e624e038f9d,0,0,0,0,0,
118,20200307,TX,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,7e5a459bafcb9fc9b4e403edcbbc688b2ab3159a,0,0,0,0,0,
119,20200306,TX,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,0,0,47df5cf0a7d3df69c9909a728799ec61390c0f58,0,0,0,0,0,
120,20200305,TX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,5906b86d67261e2657ddff393dcac01e1227ec95,0,0,0,0,0,
121,20200304,TX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,7b8937cf38e0714297701ed2f826a226017a8914,0,0,0,0,0,

In [25]:
date1 = ('2020-01-29')
date2 = (str(date.today()))
date_range=pd.date_range(date1, date2).to_pydatetime().tolist()
print(date_range)

[datetime.datetime(2020, 1, 29, 0, 0), datetime.datetime(2020, 1, 30, 0, 0), datetime.datetime(2020, 1, 31, 0, 0), datetime.datetime(2020, 2, 1, 0, 0), datetime.datetime(2020, 2, 2, 0, 0), datetime.datetime(2020, 2, 3, 0, 0), datetime.datetime(2020, 2, 4, 0, 0), datetime.datetime(2020, 2, 5, 0, 0), datetime.datetime(2020, 2, 6, 0, 0), datetime.datetime(2020, 2, 7, 0, 0), datetime.datetime(2020, 2, 8, 0, 0), datetime.datetime(2020, 2, 9, 0, 0), datetime.datetime(2020, 2, 10, 0, 0), datetime.datetime(2020, 2, 11, 0, 0), datetime.datetime(2020, 2, 12, 0, 0), datetime.datetime(2020, 2, 13, 0, 0), datetime.datetime(2020, 2, 14, 0, 0), datetime.datetime(2020, 2, 15, 0, 0), datetime.datetime(2020, 2, 16, 0, 0), datetime.datetime(2020, 2, 17, 0, 0), datetime.datetime(2020, 2, 18, 0, 0), datetime.datetime(2020, 2, 19, 0, 0), datetime.datetime(2020, 2, 20, 0, 0), datetime.datetime(2020, 2, 21, 0, 0), datetime.datetime(2020, 2, 22, 0, 0), datetime.datetime(2020, 2, 23, 0, 0), datetime.datetime(2020, 2, 24, 0, 0), datetime.datetime(2020, 2, 25, 0, 0), datetime.datetime(2020, 2, 26, 0, 0), datetime.datetime(2020, 2, 27, 0, 0), datetime.datetime(2020, 2, 28, 0, 0), datetime.datetime(2020, 2, 29, 0, 0), datetime.datetime(2020, 3, 1, 0, 0), datetime.datetime(2020, 3, 2, 0, 0), datetime.datetime(2020, 3, 3, 0, 0), datetime.datetime(2020, 3, 4, 0, 0), datetime.datetime(2020, 3, 5, 0, 0), datetime.datetime(2020, 3, 6, 0, 0), datetime.datetime(2020, 3, 7, 0, 0), datetime.datetime(2020, 3, 8, 0, 0), datetime.datetime(2020, 3, 9, 0, 0), datetime.datetime(2020, 3, 10, 0, 0), datetime.datetime(2020, 3, 11, 0, 0), datetime.datetime(2020, 3, 12, 0, 0), datetime.datetime(2020, 3, 13, 0, 0), datetime.datetime(2020, 3, 14, 0, 0), datetime.datetime(2020, 3, 15, 0, 0), datetime.datetime(2020, 3, 16, 0, 0), datetime.datetime(2020, 3, 17, 0, 0), datetime.datetime(2020, 3, 18, 0, 0), datetime.datetime(2020, 3, 19, 0, 0), datetime.datetime(2020, 3, 20, 0, 0), datetime.datetime(2020, 3, 21, 0, 0), datetime.datetime(2020, 3, 22, 0, 0), datetime.datetime(2020, 3, 23, 0, 0), datetime.datetime(2020, 3, 24, 0, 0), datetime.datetime(2020, 3, 25, 0, 0), datetime.datetime(2020, 3, 26, 0, 0), datetime.datetime(2020, 3, 27, 0, 0), datetime.datetime(2020, 3, 28, 0, 0), datetime.datetime(2020, 3, 29, 0, 0), datetime.datetime(2020, 3, 30, 0, 0), datetime.datetime(2020, 3, 31, 0, 0), datetime.datetime(2020, 4, 1, 0, 0), datetime.datetime(2020, 4, 2, 0, 0), datetime.datetime(2020, 4, 3, 0, 0), datetime.datetime(2020, 4, 4, 0, 0), datetime.datetime(2020, 4, 5, 0, 0), datetime.datetime(2020, 4, 6, 0, 0), datetime.datetime(2020, 4, 7, 0, 0), datetime.datetime(2020, 4, 8, 0, 0), datetime.datetime(2020, 4, 9, 0, 0), datetime.datetime(2020, 4, 10, 0, 0), datetime.datetime(2020, 4, 11, 0, 0), datetime.datetime(2020, 4, 12, 0, 0), datetime.datetime(2020, 4, 13, 0, 0), datetime.datetime(2020, 4, 14, 0, 0), datetime.datetime(2020, 4, 15, 0, 0), datetime.datetime(2020, 4, 16, 0, 0), datetime.datetime(2020, 4, 17, 0, 0), datetime.datetime(2020, 4, 18, 0, 0), datetime.datetime(2020, 4, 19, 0, 0), datetime.datetime(2020, 4, 20, 0, 0), datetime.datetime(2020, 4, 21, 0, 0), datetime.datetime(2020, 4, 22, 0, 0), datetime.datetime(2020, 4, 23, 0, 0), datetime.datetime(2020, 4, 24, 0, 0), datetime.datetime(2020, 4, 25, 0, 0), datetime.datetime(2020, 4, 26, 0, 0), datetime.datetime(2020, 4, 27, 0, 0), datetime.datetime(2020, 4, 28, 0, 0), datetime.datetime(2020, 4, 29, 0, 0), datetime.datetime(2020, 4, 30, 0, 0), datetime.datetime(2020, 5, 1, 0, 0), datetime.datetime(2020, 5, 2, 0, 0), datetime.datetime(2020, 5, 3, 0, 0), datetime.datetime(2020, 5, 4, 0, 0), datetime.datetime(2020, 5, 5, 0, 0), datetime.datetime(2020, 5, 6, 0, 0), datetime.datetime(2020, 5, 7, 0, 0), datetime.datetime(2020, 5, 8, 0, 0), datetime.datetime(2020, 5, 9, 0, 0), datetime.datetime(2020, 5, 10, 0, 0), datetime.datetime(2020, 5, 11, 0, 0), datetime.datetime(2020, 5, 12, 0, 0), datetime.datetime(2020, 5, 13, 0, 0), datetime.datetime(2020, 5, 14, 0, 0), datetime.datetime(2020, 5, 15, 0, 0), datetime.datetime(2020, 5, 16, 0, 0), datetime.datetime(2020, 5, 17, 0, 0), datetime.datetime(2020, 5, 18, 0, 0), datetime.datetime(2020, 5, 19, 0, 0), datetime.datetime(2020, 5, 20, 0, 0), datetime.datetime(2020, 5, 21, 0, 0), datetime.datetime(2020, 5, 22, 0, 0), datetime.datetime(2020, 5, 23, 0, 0), datetime.datetime(2020, 5, 24, 0, 0), datetime.datetime(2020, 5, 25, 0, 0), datetime.datetime(2020, 5, 26, 0, 0), datetime.datetime(2020, 5, 27, 0, 0), datetime.datetime(2020, 5, 28, 0, 0), datetime.datetime(2020, 5, 29, 0, 0), datetime.datetime(2020, 5, 30, 0, 0), datetime.datetime(2020, 5, 31, 0, 0), datetime.datetime(2020, 6, 1, 0, 0), datetime.datetime(2020, 6, 2, 0, 0), datetime.datetime(2020, 6, 3, 0, 0), datetime.datetime(2020, 6, 4, 0, 0), datetime.datetime(2020, 6, 5, 0, 0), datetime.datetime(2020, 6, 6, 0, 0), datetime.datetime(2020, 6, 7, 0, 0), datetime.datetime(2020, 6, 8, 0, 0), datetime.datetime(2020, 6, 9, 0, 0), datetime.datetime(2020, 6, 10, 0, 0), datetime.datetime(2020, 6, 11, 0, 0), datetime.datetime(2020, 6, 12, 0, 0), datetime.datetime(2020, 6, 13, 0, 0), datetime.datetime(2020, 6, 14, 0, 0), datetime.datetime(2020, 6, 15, 0, 0), datetime.datetime(2020, 6, 16, 0, 0), datetime.datetime(2020, 6, 17, 0, 0), datetime.datetime(2020, 6, 18, 0, 0), datetime.datetime(2020, 6, 19, 0, 0), datetime.datetime(2020, 6, 20, 0, 0), datetime.datetime(2020, 6, 21, 0, 0), datetime.datetime(2020, 6, 22, 0, 0), datetime.datetime(2020, 6, 23, 0, 0), datetime.datetime(2020, 6, 24, 0, 0), datetime.datetime(2020, 6, 25, 0, 0), datetime.datetime(2020, 6, 26, 0, 0), datetime.datetime(2020, 6, 27, 0, 0), datetime.datetime(2020, 6, 28, 0, 0), datetime.datetime(2020, 6, 29, 0, 0), datetime.datetime(2020, 6, 30, 0, 0), datetime.datetime(2020, 7, 1, 0, 0), datetime.datetime(2020, 7, 2, 0, 0), datetime.datetime(2020, 7, 3, 0, 0)]

In [26]:
dates=df['date']
dates.tolist()

[20200703,
 20200702,
 20200701,
 20200630,
 20200629,
 20200628,
 20200627,
 20200626,
 20200625,
 20200624,
 20200623,
 20200622,
 20200621,
 20200620,
 20200619,
 20200618,
 20200617,
 20200616,
 20200615,
 20200614,
 20200613,
 20200612,
 20200611,
 20200610,
 20200609,
 20200608,
 20200607,
 20200606,
 20200605,
 20200604,
 20200603,
 20200602,
 20200601,
 20200531,
 20200530,
 20200529,
 20200528,
 20200527,
 20200526,
 20200525,
 20200524,
 20200523,
 20200522,
 20200521,
 20200520,
 20200519,
 20200518,
 20200517,
 20200516,
 20200515,
 20200514,
 20200513,
 20200512,
 20200511,
 20200510,
 20200509,
 20200508,
 20200507,
 20200506,
 20200505,
 20200504,
 20200503,
 20200502,
 20200501,
 20200430,
 20200429,
 20200428,
 20200427,
 20200426,
 20200425,
 20200424,
 20200423,
 20200422,
 20200421,
 20200420,
 20200419,
 20200418,
 20200417,
 20200416,
 20200415,
 20200414,
 20200413,
 20200412,
 20200411,
 20200410,
 20200409,
 20200408,
 20200407,
 20200406,
 20200405,
 20200404,
 20200403,
 20200402,
 20200401,
 20200331,
 20200330,
 20200329,
 20200328,
 20200327,
 20200326,
 20200325,
 20200324,
 20200323,
 20200322,
 20200321,
 20200320,
 20200319,
 20200318,
 20200317,
 20200316,
 20200315,
 20200314,
 20200313,
 20200312,
 20200311,
 20200310,
 20200309,
 20200308,
 20200307,
 20200306,
 20200305,
 20200304]

In [27]:
df['death']

0      2575.0
1      2525.0
2      2481.0
3      2424.0
4      2403.0
        ...
117       NaN
118       NaN
119       NaN
120       NaN
121       NaN
Name: death, Length: 122, dtype: float64

In [28]:
m_dates = []
for item in dates:
    m_dates.append(str(item))
print(m_dates)

['20200703', '20200702', '20200701', '20200630', '20200629', '20200628', '20200627', '20200626', '20200625', '20200624', '20200623', '20200622', '20200621', '20200620', '20200619', '20200618', '20200617', '20200616', '20200615', '20200614', '20200613', '20200612', '20200611', '20200610', '20200609', '20200608', '20200607', '20200606', '20200605', '20200604', '20200603', '20200602', '20200601', '20200531', '20200530', '20200529', '20200528', '20200527', '20200526', '20200525', '20200524', '20200523', '20200522', '20200521', '20200520', '20200519', '20200518', '20200517', '20200516', '20200515', '20200514', '20200513', '20200512', '20200511', '20200510', '20200509', '20200508', '20200507', '20200506', '20200505', '20200504', '20200503', '20200502', '20200501', '20200430', '20200429', '20200428', '20200427', '20200426', '20200425', '20200424', '20200423', '20200422', '20200421', '20200420', '20200419', '20200418', '20200417', '20200416', '20200415', '20200414', '20200413', '20200412', '20200411', '20200410', '20200409', '20200408', '20200407', '20200406', '20200405', '20200404', '20200403', '20200402', '20200401', '20200331', '20200330', '20200329', '20200328', '20200327', '20200326', '20200325', '20200324', '20200323', '20200322', '20200321', '20200320', '20200319', '20200318', '20200317', '20200316', '20200315', '20200314', '20200313', '20200312', '20200311', '20200310', '20200309', '20200308', '20200307', '20200306', '20200305', '20200304']

In [29]:
r_dates = []
def insertChar(mystring, position, chartoinsert ):
    longi = len(mystring)
    mystring   =  mystring[:position] + chartoinsert + mystring[position:] 
    return mystring 
    
for m in m_dates:
    r_dates.append(insertChar(m, 4, '-'))

f_dates = []
for r in r_dates:
    f_dates.append(insertChar(r, 7, '-'))

d_dates = []
for f in f_dates:
    d_dates.append(datetime.strptime(f, '%Y-%m-%d'))

In [30]:
df2=pd.DataFrame({'Date':d_dates, 'Deaths':df['deathIncrease'].tolist(), 'Tests':df['totalTestResultsIncrease'].tolist(), 
                  'Positive':df['positiveIncrease'].tolist(), 'Currently_Hospitalized':df['hospitalizedCurrently'].tolist(), 
                  'Date_String':f_dates, 'Total_Positive':df['positive'].tolist(), 'Total_Deaths':df['death'].tolist()})
df2.set_index('Date_String', inplace=True)
df2

,Date,Deaths,Tests,Positive,Currently_Hospitalized,Total_Positive,Total_Deaths
Date_String,,,,,,,
2020-07-03,2020-07-03,50,38103,7555,7652.0,183532,2575.0
2020-07-02,2020-07-02,44,53855,7915,7382.0,175977,2525.0
2020-07-01,2020-07-01,57,52666,8076,6904.0,168062,2481.0
2020-06-30,2020-06-30,21,50093,6975,6533.0,159986,2424.0
2020-06-29,2020-06-29,10,43970,4283,5913.0,153011,2403.0
...,...,...,...,...,...,...,...
2020-03-08,2020-03-08,0,0,0,NaN,8,NaN
2020-03-07,2020-03-07,0,3,3,NaN,8,NaN
2020-03-06,2020-03-06,0,4,4,NaN,5,NaN
2020-03-05,2020-03-05,0,0,0,NaN,1,NaN
2020-03-04,2020-03-04,0,0,0,NaN,1,NaN

In [31]:
df2['RAveragePos']=df2['Positive'].rolling(window=7, min_periods=1).mean()
df2['RAverageDeaths']=df2['Deaths'].rolling(window=7, min_periods=1).mean()
df2

,Date,Deaths,Tests,Positive,Currently_Hospitalized,Total_Positive,Total_Deaths,RAveragePos,RAverageDeaths
Date_String,,,,,,,,,
2020-07-03,2020-07-03,50,38103,7555,7652.0,183532,2575.0,7555.000000,50.000000
2020-07-02,2020-07-02,44,53855,7915,7382.0,175977,2525.0,7735.000000,47.000000
2020-07-01,2020-07-01,57,52666,8076,6904.0,168062,2481.0,7848.666667,50.333333
2020-06-30,2020-06-30,21,50093,6975,6533.0,159986,2424.0,7630.250000,43.000000
2020-06-29,2020-06-29,10,43970,4283,5913.0,153011,2403.0,6960.800000,36.400000
...,...,...,...,...,...,...,...,...,...
2020-03-08,2020-03-08,0,0,0,NaN,8,NaN,6.142857,0.000000
2020-03-07,2020-03-07,0,3,3,NaN,8,NaN,4.857143,0.000000
2020-03-06,2020-03-06,0,4,4,NaN,5,NaN,3.142857,0.000000
2020-03-05,2020-03-05,0,0,0,NaN,1,NaN,2.857143,0.000000
2020-03-04,2020-03-04,0,0,0,NaN,1,NaN,1.714286,0.000000

In [32]:
g=figure(title="COVID-19 Daily New Deaths", x_axis_type='datetime')
g.vbar(x='Date', top='Deaths', source=df2, color='red', legend_label='New Deaths')
g.line(x='Date', y='RAverageDeaths', source=df2, line_color='gray', line_width=2.5, legend_label='New Deaths Rolling Average')

hover = HoverTool()
hover.tooltips=[
    ('Dates', '@Date_String'),
    ('Deaths', '@Deaths'),
    ('Positive Cases', '@Positive'),
    ('Currently Hospitalized', '@Currently_Hospitalized'),
    ('Total Cases', '@Total_Positive'),
    ('Total Deaths', '@Total_Deaths'),
    ('Total Tests', '@Tests')
]

g.legend.location = "top_left"
g.legend.click_policy="hide"

g.add_tools(hover)
show(g)