In [34]:
import numpy as np
import pandas as pd
from bokeh.plotting import figure, output_file, show
from datetime import datetime
import urllib.request as request
import json 
from operator import truediv 
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool
from datetime import date

output_file('tx_covid-19_positivityrate.html')

In [35]:
data=pd.read_json('https://covidtracking.com/api/v1/states/tx/daily.json')
df=pd.DataFrame(data)

In [36]:
positive_increase=df['positiveIncrease']
positive_increase.tolist()

[4283,
 5357,
 5747,
 5707,
 5996,
 5551,
 5489,
 3280,
 3866,
 4430,
 3454,
 3516,
 3129,
 4098,
 1254,
 1843,
 2331,
 2097,
 1826,
 2504,
 1637,
 638,
 1425,
 1940,
 1693,
 1649,
 1703,
 1688,
 593,
 1949,
 1332,
 1230,
 1855,
 1361,
 589,
 623,
 839,
 1060,
 1181,
 945,
 1411,
 1219,
 909,
 785,
 1801,
 1347,
 1448,
 1355,
 1179,
 1000,
 1009,
 1251,
 1219,
 968,
 1053,
 1037,
 784,
 1026,
 1293,
 1142,
 1033,
 883,
 874,
 666,
 858,
 967,
 862,
 875,
 873,
 738,
 535,
 663,
 889,
 916,
 963,
 868,
 718,
 422,
 923,
 890,
 1441,
 877,
 1091,
 986,
 464,
 702,
 780,
 661,
 672,
 731,
 389,
 325,
 500,
 321,
 335,
 422,
 564,
 58,
 18,
 30,
 110,
 51,
 60,
 19,
 7,
 1,
 5,
 12,
 16,
 2,
 8,
 1,
 4,
 0,
 3,
 4,
 0,
 0]

In [37]:
test_increase=df['totalTestResultsIncrease']
test_increase.tolist()

[43970,
 52393,
 25492,
 37994,
 29082,
 32968,
 48281,
 22829,
 62782,
 39484,
 16173,
 38103,
 21196,
 33681,
 18778,
 35664,
 33362,
 20637,
 45233,
 13732,
 27039,
 19870,
 7169,
 31701,
 23021,
 31787,
 20544,
 16193,
 18166,
 23348,
 35242,
 20057,
 17544,
 34441,
 15579,
 42109,
 839,
 21344,
 1181,
 19253,
 20782,
 20301,
 29490,
 11616,
 29109,
 22317,
 30537,
 18604,
 12475,
 23921,
 12482,
 12176,
 21956,
 16224,
 11728,
 19812,
 16838,
 9912,
 28873,
 21475,
 15510,
 14406,
 9867,
 14496,
 13205,
 20269,
 17469,
 8295,
 11384,
 15005,
 7684,
 6471,
 6703,
 10989,
 6737,
 5343,
 13241,
 8693,
 4000,
 4815,
 9584,
 9876,
 7609,
 3292,
 14419,
 7187,
 7987,
 5085,
 2822,
 4865,
 7112,
 10120,
 500,
 1594,
 2242,
 7930,
 2327,
 1112,
 1299,
 2234,
 1245,
 2922,
 448,
 639,
 1211,
 1,
 5,
 12,
 16,
 2,
 8,
 1,
 4,
 0,
 3,
 4,
 0,
 0]

In [38]:
dates=df['date']
dates.tolist()

[20200629,
 20200628,
 20200627,
 20200626,
 20200625,
 20200624,
 20200623,
 20200622,
 20200621,
 20200620,
 20200619,
 20200618,
 20200617,
 20200616,
 20200615,
 20200614,
 20200613,
 20200612,
 20200611,
 20200610,
 20200609,
 20200608,
 20200607,
 20200606,
 20200605,
 20200604,
 20200603,
 20200602,
 20200601,
 20200531,
 20200530,
 20200529,
 20200528,
 20200527,
 20200526,
 20200525,
 20200524,
 20200523,
 20200522,
 20200521,
 20200520,
 20200519,
 20200518,
 20200517,
 20200516,
 20200515,
 20200514,
 20200513,
 20200512,
 20200511,
 20200510,
 20200509,
 20200508,
 20200507,
 20200506,
 20200505,
 20200504,
 20200503,
 20200502,
 20200501,
 20200430,
 20200429,
 20200428,
 20200427,
 20200426,
 20200425,
 20200424,
 20200423,
 20200422,
 20200421,
 20200420,
 20200419,
 20200418,
 20200417,
 20200416,
 20200415,
 20200414,
 20200413,
 20200412,
 20200411,
 20200410,
 20200409,
 20200408,
 20200407,
 20200406,
 20200405,
 20200404,
 20200403,
 20200402,
 20200401,
 20200331,
 20200330,
 20200329,
 20200328,
 20200327,
 20200326,
 20200325,
 20200324,
 20200323,
 20200322,
 20200321,
 20200320,
 20200319,
 20200318,
 20200317,
 20200316,
 20200315,
 20200314,
 20200313,
 20200312,
 20200311,
 20200310,
 20200309,
 20200308,
 20200307,
 20200306,
 20200305,
 20200304]

In [39]:
positive=df['positive']
positive.tolist()

h_currently=df['hospitalizedCurrently']
h_currently.tolist()

deaths=df['deathIncrease']
deaths.tolist()

[10,
 27,
 42,
 28,
 47,
 29,
 28,
 10,
 17,
 25,
 35,
 43,
 33,
 46,
 7,
 19,
 18,
 19,
 35,
 32,
 23,
 0,
 11,
 31,
 21,
 33,
 36,
 20,
 6,
 46,
 0,
 25,
 39,
 26,
 9,
 21,
 0,
 26,
 40,
 21,
 50,
 22,
 11,
 31,
 33,
 56,
 58,
 25,
 33,
 12,
 39,
 45,
 31,
 25,
 42,
 22,
 17,
 20,
 31,
 34,
 50,
 42,
 27,
 15,
 25,
 30,
 32,
 18,
 26,
 22,
 18,
 24,
 25,
 35,
 29,
 46,
 31,
 16,
 17,
 28,
 27,
 22,
 23,
 14,
 13,
 22,
 15,
 20,
 12,
 17,
 7,
 0,
 7,
 4,
 5,
 6,
 3,
 1,
 3,
 0,
 0,
 2,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [40]:
date1 = ('2020-01-29')
date2 = (str(date.today()))
date_range=pd.date_range(date1, date2).to_pydatetime().tolist()

In [41]:
rate=[]
for p, t in zip(positive_increase, test_increase):
    if t==0:
        rate.append(0)
    else:
        rate.append(p/t)

In [42]:
m_dates = []
for item in dates:
    m_dates.append(str(item))

In [43]:
r_dates = []
def insertChar(mystring, position, chartoinsert ):
    longi = len(mystring)
    mystring   =  mystring[:position] + chartoinsert + mystring[position:] 
    return mystring 
    
for m in m_dates:
    r_dates.append(insertChar(m, 4, '-'))

f_dates = []
for r in r_dates:
    f_dates.append(insertChar(r, 7, '-'))

d_dates = []
for f in f_dates:
    d_dates.append(datetime.strptime(f, '%Y-%m-%d'))

In [44]:
t_deaths=df['death']
t_deaths.tolist()

t_pos=df['positive']
t_pos.tolist()

[153011,
 148728,
 143371,
 137624,
 131917,
 125921,
 120370,
 114881,
 111601,
 107735,
 103305,
 99851,
 96335,
 93206,
 89108,
 87854,
 86011,
 83680,
 81583,
 79757,
 77253,
 75616,
 74978,
 73553,
 71613,
 69920,
 68271,
 66568,
 64880,
 64287,
 62338,
 61006,
 59776,
 57921,
 56560,
 55971,
 55348,
 54509,
 53449,
 52268,
 51323,
 49912,
 48693,
 47784,
 46999,
 45198,
 43851,
 42403,
 41048,
 39869,
 38869,
 37860,
 36609,
 35390,
 34422,
 33369,
 32332,
 31548,
 30522,
 29229,
 28087,
 27054,
 26171,
 25297,
 24631,
 23773,
 22806,
 21944,
 21069,
 20196,
 19458,
 18923,
 18260,
 17371,
 16455,
 15492,
 14624,
 13906,
 13484,
 12561,
 11671,
 10230,
 9353,
 8262,
 7276,
 6812,
 6110,
 5330,
 4669,
 3997,
 3266,
 2877,
 2552,
 2052,
 1731,
 1396,
 974,
 410,
 352,
 334,
 304,
 194,
 143,
 83,
 64,
 57,
 56,
 51,
 39,
 23,
 21,
 13,
 12,
 8,
 8,
 5,
 1,
 1]

In [45]:
df2=pd.DataFrame({'Date':d_dates,'Rate':rate, 'Deaths':deaths, 'Tests':test_increase, 
                  'Positive':positive_increase, 'Currently_Hospitalized':h_currently, 
                  'Date_String':f_dates, 'Total_Positive':t_pos, 'Total_Deaths':t_deaths})
df2.set_index('Date_String', inplace=True)
df3 = df2[str(date.today()):'2020-03-02']

In [46]:
df4=df3['Rate']

ra=pd.DataFrame()
ra['Average']=df4.rolling(7).mean()
ra['Date'] = df3['Date']
ra.set_index('Date', inplace=True)
print(ra)

             Average
Date
2020-06-29       NaN
2020-06-28       NaN
2020-06-27       NaN
2020-06-26       NaN
2020-06-25       NaN
...              ...
2020-03-08  0.857143
2020-03-07  0.857143
2020-03-06  0.857143
2020-03-05  0.714286
2020-03-04  0.571429

[118 rows x 1 columns]

In [47]:
df5=df3.copy()
r_a=ra['Average']
df5['Rolling Average']=ra
df5

,Date,Rate,Deaths,Tests,Positive,Currently_Hospitalized,Total_Positive,Total_Deaths,Rolling Average
Date_String,,,,,,,,,
2020-06-29,2020-06-29,0.097407,10,43970,4283,5913.0,153011,2403.0,NaN
2020-06-28,2020-06-28,0.102246,27,52393,5357,5497.0,148728,2393.0,NaN
2020-06-27,2020-06-27,0.225443,42,25492,5747,5523.0,143371,2366.0,NaN
2020-06-26,2020-06-26,0.150208,28,37994,5707,5102.0,137624,2324.0,NaN
2020-06-25,2020-06-25,0.206176,47,29082,5996,4739.0,131917,2296.0,NaN
...,...,...,...,...,...,...,...,...,...
2020-03-08,2020-03-08,0.000000,0,0,0,NaN,8,NaN,0.857143
2020-03-07,2020-03-07,1.000000,0,3,3,NaN,8,NaN,0.857143
2020-03-06,2020-03-06,1.000000,0,4,4,NaN,5,NaN,0.857143
2020-03-05,2020-03-05,0.000000,0,0,0,NaN,1,NaN,0.714286
2020-03-04,2020-03-04,0.000000,0,0,0,NaN,1,NaN,0.571429

In [48]:
df2.to_excel('C:\Shiven\Python\Projects\COVID-19\States\TX\df2.xlsx', index = False, header=True)

In [49]:
g=figure(title="COVID-19 Positivity Rate in Texas (Shiven Patel)", x_axis_type='datetime')
g.line(x='Date', y='Rate', source=df5, line_color='navy', line_width=2.5)
g.line(x='Date', y='Rolling Average', source=df5, line_color='gray', line_width=2.5)

hover = HoverTool()
hover.tooltips=[
    ('Dates', '@Date_String'),
    ('Deaths', '@Deaths'),
    ('Positive Cases', '@Positive'),
    ('Currently Hospitalized', '@Currently_Hospitalized'),
    ('Total Cases', '@Total_Positive'),
    ('Total Deaths', '@Total_Deaths')
]

g.add_tools(hover)
show(g)