In [673]:
import pandas as pd
import numpy as np
import folium

pd.options.mode.chained_assignment = None

In [674]:
#Pulling Data
cdata=pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv")
hdata=pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

county_data=pd.read_csv('c_03mr20 - Copy.csv')

geojsonmap='us-counties.json'

In [675]:
county_data[county_data['STATE'] == 'FL']

    STATE  CWA    COUNTYNAME     FIPS TIME_ZONE FE_AREA      LON      LAT
0      FL  TBW     Charlotte  12015.0         E      sw -81.8940  26.9069
320    FL  TBW        DeSoto  12027.0         E      sc -81.8093  27.1863
321    FL  MLB     St. Lucie  12111.0         E      ec -80.4836  27.3764
322    FL  MFL        Hendry  12051.0         E      ss -81.1719  26.5473
323    FL  TBW        Hardee  12049.0         E      cc -81.8099  27.4927
324    FL  TBW     Highlands  12055.0         E      sc -81.3410  27.3434
325    FL  MLB       Osceola  12097.0         E      ec -81.1496  28.0627
326    FL  TBW          Polk  12105.0         E      cc -81.6978  27.9489
327    FL  MLB  Indian River  12061.0         E      ec -80.6158  27.6929
328    FL  MLB    Okeechobee  12093.0         E      ec -80.9015  27.4283
329    FL  MFL        Glades  12043.0         E      ss -81.2397  26.9605
330    FL  MLB        Martin  12085.0         E      ec -80.3893  27.0844
331    FL  TBW        Citrus  12017.0         E      wc -82.4670  28.8509
332    FL  MFL       Broward  12011.0         E      se -80.4886  26.1519
333    FL  MFL       Collier  12021.0         E      sw -81.3393  26.1196
334    FL  MFL    Miami-Dade  12086.0         E      se -80.5682  25.6171
335    FL  MFL    Palm Beach  12099.0         E      se -80.4329  26.6230
336    FL  JAX          Clay  12019.0         E      ne -81.8579  29.9831
337    FL  TAE       Calhoun  12013.0         C      pa -85.1972  30.4061
338    FL  JAX      Bradford  12007.0         E      nn -82.1689  29.9502
339    FL  JAX         Baker  12003.0         E      ne -82.2846  30.3310
340    FL  JAX       Alachua  12001.0         E      nn -82.3576  29.6749
341    FL  JAX        Putnam  12107.0         E      ne -81.7442  29.6086
342    FL  JAX      Columbia  12023.0         E      nn -82.6215  30.2243
343    FL  JAX     St. Johns  12109.0         E      ne -81.4439  29.9013
344    FL  JAX     Gilchrist  12041.0         E      nn -82.8006  29.7259
345    FL  JAX      Hamilton  12047.0         E      nn -82.9478  30.4964
346    FL  TAE     Lafayette  12067.0         E      bb -83.1811  29.9855
347    FL  TAE          Leon  12073.0         E      bb -84.2778  30.4581
348    FL  JAX      Suwannee  12121.0         E      nn -82.9915  30.1956
349    FL  JAX         Union  12125.0         E      nn -82.3714  30.0439
350    FL  TAE       Madison  12079.0         E      bb -83.4700  30.4442
351    FL  JAX        Marion  12083.0         E      nn -82.0567  29.2103
352    FL  TAE      Franklin  12037.0         E      bb -84.6607  29.9194
353    FL  TAE          Gulf  12045.0        CE      pa -85.1435  29.9458
354    FL  JAX       Flagler  12035.0         E      ne -81.3145  29.4605
355    FL  TAE        Holmes  12059.0         C      pa -85.8143  30.8679
356    FL  MOB      Okaloosa  12091.0         C      nw -86.5964  30.7068
357    FL  MOB    Santa Rosa  12113.0         C      nw -87.0172  30.7320
358    FL  MOB      Escambia  12033.0         C      nw -87.3777  30.7012
359    FL  TAE       Gadsden  12039.0         E      bb -84.6137  30.5795
360    FL  TBW  Hillsborough  12057.0         E      wc -82.3072  27.9306
361    FL  JAX         Duval  12031.0         E      ne -81.6740  30.3302
362    FL  JAX        Nassau  12089.0         E      ne -81.8085  30.6095
363    FL  TAE       Jackson  12063.0         C      pa -85.2194  30.7956
364    FL  MLB      Seminole  12117.0         E      ec -81.2362  28.7170
365    FL  MLB        Orange  12095.0         E      ec -81.3238  28.5148
366    FL  TBW        Sumter  12119.0         E      cc -82.0810  28.7046
367    FL  MLB          Lake  12069.0         E      ec -81.7113  28.7615
368    FL  MLB       Brevard  12009.0         E      ec -80.7436  28.2631
369    FL  MLB       Volusia  12127.0         E      ec -81.1912  29.0604
370    FL  TBW           Lee  12071.0         E      sw -81.8210  26.5786
371    FL  TBW          Levy  12075.0         E      nn -83.0885  29.2827
372    FL  TBW       Manatee  12081.0         E      wc -82.2978  27.4713
373    FL  TAE    Washington  12133.0         C      pa -85.6656  30.6106
374    FL  TAE           Bay  12005.0         C      pa -85.6151  30.2797
375    FL  MFL        Monroe  12087.0         E      sw -81.0326  25.5205
378    FL  TAE     Jefferson  12065.0         E      bb -83.8951  30.4380
379    FL  TAE        Taylor  12123.0         E      bb -83.6030  30.0477
380    FL  TAE         Dixie  12029.0         E      bb -83.1583  29.6101
382    FL  TBW      Pinellas  12103.0         E      wc -82.7220  27.9280
384    FL  TBW      Sarasota  12115.0         E      wc -82.3219  27.1810
385    FL  TBW      Hernando  12053.0         E      wc -82.4209  28.5528
386    FL  TBW         Pasco  12101.0         E      wc -82.3911  28.3093
388    FL  TAE       Wakulla  12129.0         E      bb -84.4026  30.1703
390    FL  TAE        Walton  12131.0         C      pa -86.1631  30.6598
392    FL  TAE       Liberty  12077.0         E      bb -84.8829  30.2414

In [676]:
cdata = cdata.fillna(0)
cdata['fips_str'] = cdata['fips'].astype(int).astype(str)
cdata

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,fips_str
0,2020-07-03,Autauga,Alabama,1001.0,568,13.0,560.0,12.0,8.0,1.0,1001
1,2020-07-03,Baldwin,Alabama,1003.0,845,10.0,828.0,9.0,17.0,1.0,1003
2,2020-07-03,Barbour,Alabama,1005.0,348,2.0,345.0,2.0,3.0,0.0,1005
3,2020-07-03,Bibb,Alabama,1007.0,189,1.0,186.0,1.0,3.0,0.0,1007
4,2020-07-03,Blount,Alabama,1009.0,230,1.0,226.0,1.0,4.0,0.0,1009
...,...,...,...,...,...,...,...,...,...,...,...
3152,2020-07-03,Sweetwater,Wyoming,56037.0,100,0.0,91.0,0.0,9.0,0.0,56037
3153,2020-07-03,Teton,Wyoming,56039.0,135,1.0,103.0,0.0,32.0,0.0,56039
3154,2020-07-03,Uinta,Wyoming,56041.0,182,0.0,145.0,0.0,37.0,0.0,56041
3155,2020-07-03,Washakie,Wyoming,56043.0,38,5.0,33.0,0.0,5.0,0.0,56043
3156,2020-07-03,Weston,Wyoming,56045.0,2,0.0,2.0,0.0,0.0,0.0,56045

In [677]:
center_data=pd.read_csv('table-1.csv')
center_data.set_index('state', inplace=True)
latitude = center_data['latitude']
longitude = center_data['longitude']

In [678]:
df1=cdata
df1.set_index('county', inplace=True)
df1 = df1.sort_values('county')
df4 = df1[df1['fips_str'] != '0']
df4['county'] = df4.index
df4.set_index('fips', inplace=True)
df4

,date,state,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,fips_str,county
fips,,,,,,,,,,
45001.0,2020-07-03,South Carolina,118,0.0,118.0,0.0,0.0,0.0,45001,Abbeville
22001.0,2020-07-03,Louisiana,968,39.0,968.0,39.0,0.0,0.0,22001,Acadia
51001.0,2020-07-03,Virginia,1042,14.0,0.0,0.0,0.0,0.0,51001,Accomack
16001.0,2020-07-03,Idaho,2367,23.0,2223.0,19.0,144.0,4.0,16001,Ada
40001.0,2020-07-03,Oklahoma,119,4.0,119.0,4.0,0.0,0.0,40001,Adair
...,...,...,...,...,...,...,...,...,...,...
8125.0,2020-07-03,Colorado,52,0.0,0.0,0.0,0.0,0.0,8125,Yuma
4027.0,2020-07-03,Arizona,6824,103.0,6683.0,103.0,141.0,0.0,4027,Yuma
48505.0,2020-07-03,Texas,55,0.0,55.0,0.0,0.0,0.0,48505,Zapata
48507.0,2020-07-03,Texas,23,0.0,23.0,0.0,0.0,0.0,48507,Zavala
46137.0,2020-07-03,South Dakota,1,0.0,1.0,0.0,0.0,0.0,46137,Ziebach

In [679]:
stateloctag="{0}".format('FL')
m = folium.Map(location=[39.8283, -95.5795], zoom_start=4)

In [680]:
df2=county_data
df2.set_index('COUNTYNAME', inplace=True)
df2 = df2.sort_values(by=['COUNTYNAME'])
# pd.set_option('display.max_rows', 500)
df2['FIPS'] = df2['FIPS'].astype(float)
df2

           STATE  CWA     FIPS TIME_ZONE FE_AREA       LON      LAT
COUNTYNAME
Abbeville     SC  GSP  45001.0         E      up  -82.4587  34.2226
Acadia        LA  LCH  22001.0         C      sw  -92.4120  30.2906
Accomack      VA  AKQ  51001.0         E      se  -75.6472  37.7660
Ada           ID  BOI  16001.0         M      sw -116.2411  43.4511
Adair         OK  TSA  40001.0         C      ne  -94.6587  35.8839
...          ...  ...      ...       ...     ...       ...      ...
NaN          NaN  NaN      NaN       NaN     NaN       NaN      NaN
NaN          NaN  NaN      NaN       NaN     NaN       NaN      NaN
NaN          NaN  NaN      NaN       NaN     NaN       NaN      NaN
NaN          NaN  NaN      NaN       NaN     NaN       NaN      NaN
NaN          NaN  NaN      NaN       NaN     NaN       NaN      NaN

[3224 rows x 7 columns]

In [681]:
df1

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,fips_str
county,,,,,,,,,,
Abbeville,2020-07-03,South Carolina,45001.0,118,0.0,118.0,0.0,0.0,0.0,45001
Acadia,2020-07-03,Louisiana,22001.0,968,39.0,968.0,39.0,0.0,0.0,22001
Accomack,2020-07-03,Virginia,51001.0,1042,14.0,0.0,0.0,0.0,0.0,51001
Ada,2020-07-03,Idaho,16001.0,2367,23.0,2223.0,19.0,144.0,4.0,16001
Adair,2020-07-03,Oklahoma,40001.0,119,4.0,119.0,4.0,0.0,0.0,40001
...,...,...,...,...,...,...,...,...,...,...
Yuma,2020-07-03,Colorado,8125.0,52,0.0,0.0,0.0,0.0,0.0,8125
Yuma,2020-07-03,Arizona,4027.0,6824,103.0,6683.0,103.0,141.0,0.0,4027
Zapata,2020-07-03,Texas,48505.0,55,0.0,55.0,0.0,0.0,0.0,48505
Zavala,2020-07-03,Texas,48507.0,23,0.0,23.0,0.0,0.0,0.0,48507
Ziebach,2020-07-03,South Dakota,46137.0,1,0.0,1.0,0.0,0.0,0.0,46137

In [682]:
df2['fips_str']=df2['FIPS'].astype(int).astype(str)
df2

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df3 = pd.DataFrame()

In [ ]:
df4['fips'] = df4.index
df4.set_index('county', inplace=True)
df4

In [ ]:
fips=df4.index.tolist()
fips

In [ ]:
df6=df1.copy()

In [ ]:
for i, x in zip(df2['FIPS'], df2.index):
    if float(i) in fips:
        df3 = df3.append(df2.loc[x])
    else:
        print(i)

In [ ]:
df1

In [ ]:
df3

In [ ]:
folium.Choropleth(
    geo_data=geojsonmap,
    name='Positive Cases',
    data=df1,
    columns=['fips_str', 'cases'],
    key_on='feature.fips',
    fill_color='OrRd',
    fill_opacity=0.5,
    line_opacity=0.2,
    legend_name='Positive COVID-19 Cases'
).add_to(m)

In [ ]:
for cn, cd in zip(df3.index, df1.index):
    popup="""
    %s
    Cases: %s
    Deaths: %s
    """ % (cd, df1.loc[cd]['cases'], df1.loc[cd]['deaths'])
    
    folium.CircleMarker(location=(df3.loc[cn]['LAT'], df3.loc[cn]['LON']), 
                        tooltip=cn, popup=popup, fill=True, fill_color='white', color='white', radius=5).add_to(m)
    
    print(cd, df1.loc[cd]['cases'], df1.loc[cd]['deaths'], cn)

m.save("uscountymap.html")